@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Hola soy Adela la Ing de Calidad</a>.</p>
</div>
<div><iframe src='https://webchat.botframework.com/embed/qabot15-bot?s=dLBYNF3ZdQQ.6tnMiGCqy2O46yoU05OrgcpfHioiSeqdJz8Mq8mZqB8'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe></div>
